<form method="post" action="http://localhost:3000/files" enctype="multipart/form-data">
    <fieldset>
        <legend>Formulaire de test d'envoi d'image</legend>
        <label for="file">Choisissez un fichier</label>
        <input type="file" name="file">
        <label for="description">Description de l'image</label>
        <input type="text" name="description">

        <input type="text" name="userId" value="67cd759ff42eea91e7ef9543" hidden>

        <input type="submit" value="submit">
    </fieldset>
</form>